form#spaces-dashboard-users tr.blocked,
form#spaces-dashboard-users tr.blocked a {
  font-style: italic;
  color:#999;}

form#spaces-dashboard-usertools div.form-item {
  margin-right:2em;
  float:left;}

form#spaces-dashboard-users table tr.lit {
  background:#fe8;}

form#spaces-dashboard-users table .form-item {
  padding:0px; margin:0px;}

form#spaces-dashboard-users table td.name {
  width:25%;}

form#spaces-dashboard-users table .groupnames {
  color:#666;
  font-size:9px;}